body {
  font-family: "Inter", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e2e8f0;
}

.header__top__container {
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e293b;
  padding: 8px 0px;
}

.header__buttons__container {
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.button__enter {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: white;
  padding: 8px 0;
  padding-left: 28px;
  margin-right: 24px;
  background: none;
}

.button__enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../images/person.svg");
  top: 8px;
  left: 0;
}

.button__newAdvertisement {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: white;
  padding: 6px 12px;
  padding-right: 36px;
  background-color: #3b82f6;
}

.button__newAdvertisement::after {
  content: "+";
  font-size: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 12px;
}

.header__bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  padding: 24px 0;
}

.header__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #1e293b;
  margin-right: 24px;
}

.category__button {
  cursor: pointer;
  position: relative;
  padding: 8px 12px;
  padding-left: 40px;
  margin-right: 12px;
  color: #3b82f6;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: none;
  border: 1px solid #3b82f6;
  border-radius: 4px;
}

.category__button::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../images/list-nested.svg");
  top: 8px;
  left: 12px;
}

.search__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.serach__form__input {
  line-height: 24px;
  padding: 8px 12px;
  background: none;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: calc(100% - 95px);
}

.serach__form__submit {
  cursor: pointer;
  position: relative;
  padding: 8px 12px;
  padding-right: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #3b82f6;
  border: none;
  color: white;
}

.serach__form__submit::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../../images/search.svg");
  top: 10px;
  right: 12px;
}

.button__newAdvertisement:hover,
.button__enter:hover,
.category__button:hover,
.serach__form__submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button__newAdvertisement:active,
.button__enter:active,
.category__button:active,
.serach__form__submit:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.recommended {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

.recommended_wrapper {
  width: 60%;
}

.recommended__title {
  margin-bottom: 24px;
  color: #1e293b;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.recommended__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommended__card {
  width: calc(25% - 18px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.recommended__card:nth-child(4n) {
  margin-right: 0;
}

.recommended__card:last-child {
  margin-right: 0;
}

.card__img__container {
  display: inline-block;
  overflow: hidden;
}

.card__img {
  width: 100%;
  margin-bottom: 8px;
}

.recommended__card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.recommended__card:hover .card__title {
  color: #135dd4;
}

.card__title {
  color: #3b82f6;
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
}

.card__price {
  color: #1e293b;
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
}

.card__location,
.card__time {
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}